.banner{
    background-image:url("../img/banner.jpg") ;
    background-position: top center;
    background-size: cover;
    padding: 30%;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.banner::after{
    content: '';
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}

.login.a.img{
    border-radius: 50%;
}

video {
    position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
  }